.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  display: grid;
  place-content: center;
  z-index: 500000;

  img {
    width: 40px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 10000;

  .logo {
    max-width: 152px;
    @media (max-width: 500px) {
      max-width: 132px;
    }
  }

  .nav {
    a {
      margin-left: 40px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      @media (max-width: 500px) {
        font-size: 16px;
        margin-left: 20px;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.grid-wrapper {
  z-index: -1;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease-in-out;
  @media (max-width: 1000px) {
    display: none;
  }
}

.grid {
  position: relative;
  width: 200%;
}

.hero {
  position: relative;
  background-image: url('../images/bg.png');
  min-height: 100vh;
  overflow: hidden;

  &__container {
    margin-top: 80px;
    align-items: flex-start;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__block {
    padding-top: 45px;
    width: 50%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &__title {
    position: fixed;
    top: 335px;
    transform: translateY(-50%);
    width: 50%;
    color: #8fff00;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    @media (max-width: 1000px) {
      transform: none;
      position: static;
      font-size: 72px;
      width: 100%;
    }
    @media (max-width: 500px) {
      font-size: 38px;
    }
  }

  & .gradient-bg,
  & .gradient-bg-sticky {
    position: fixed;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 30vh;
    opacity: 0.8;
    background: linear-gradient(0deg, #8fff00 -44.35%, rgba(143, 255, 0, 0) 104.84%);
    z-index: 0;
  }

  & .gradient-bg {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  & .gradient-bg-sticky {
    position: absolute;
  }
}

.benefits {
  padding-bottom: 100vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 85px;
  @media (max-width: 1000px) {
    margin-top: 100px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    gap: 0;
  }
  @media (max-width: 500px) {
    margin-top: 50px;
    padding-bottom: 55px;
  }

  &__item {
    @media (max-width: 1000px) {
      width: 48%;
      margin-bottom: 40px;
    }
  }

  &__title {
    color: #8fff00;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    @media (max-width: 500px) {
      font-size: 50px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    text-transform: lowercase;
    @media (max-width: 500px) {
      font-size: 18px;
      line-height: 130%;
    }
  }
}

.label-wrapper,
.label-wrapper-sticky {
  content: '';
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.label-wrapper {
  @media (max-width: 1000px) {
    display: none;
  }
}

.label-wrapper-sticky {
  position: sticky;
  @media (max-width: 1000px) {
    position: absolute;
  }
}

.label {
  content: '';
  overflow: hidden;
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
}

.label-img {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 40px;
  background-image: url('../images/label.png');
  background-size: contain;
  background-repeat: repeat-x;
  transform: none;
  width: 4320px;
  animation: slide 20s linear infinite;
}

.info,
.advantages,
.partners,
.collaboration,
.contact,
.footer {
  position: relative;
  z-index: 3000;
}

.info {
  position: relative;
  background-color: #ffffff;
  padding: 200px 0;
  @media (max-width: 1000px) {
    padding-top: 150px;
  }
  @media (max-width: 500px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__text {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 252px;
    background: linear-gradient(0deg, rgba(143, 255, 0, 0) 0%, #8fff00 104.84%);
    z-index: -1;
  }
}

.advantages {
  background-color: #000000;
  padding-bottom: 200px;
  @media (max-width: 1000px) {
    margin-top: 45px;
    padding-bottom: 120px;
  }
  @media (max-width: 500px) {
    padding-bottom: 100px;
  }

  &__container {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding: 89px 36px 0 36px;
    width: 33%;
    height: 325px;
    border: 4px solid #8fff00;
    margin: -4px -4px 0 0;
    transition: all 0.2s ease-in-out;
    @media (max-width: 1000px) {
      width: 100%;
      padding: 36px 20px;
    }
    @media (max-width: 500px) {
      height: auto;
    }
    &:hover {
      border-color: #ffffff;
      background-color: #ffffff;
      .advantages__title,
      .advantages__subtitle {
        color: #000;
      }
    }
  }

  &__icon {
    position: absolute;
    display: grid;
    place-content: center;
    top: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #8fff00;
    @media (max-width: 1000px) {
      position: static;
      margin-bottom: 30px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    margin-bottom: 22px;
    color: #8fff00;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.385%;
  }
}

.partners {
  background-color: #000000;
  &__title {
    margin-bottom: 50px;
    color: #8fff00;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 131%;
    text-transform: uppercase;
    @media (max-width: 1000px) {
      font-size: 72px;
    }
    @media (max-width: 500px) {
      font-size: 38px;
    }
  }

  &__carousel {
    content: '';
    position: relative;
    overflow: hidden;
    height: 140px;
    display: grid;
    place-items: center;
    @media (max-width: 500px) {
      height: 100px;
      top: -20px;
    }
  }

  &__images {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 100%;
    background-image: url('../images/partners.png');
    background-size: contain;
    background-repeat: repeat-x;
    transform: none;
    width: 4466px;
    animation: carousel 30s linear infinite;
  }
}

.collaboration {
  background-color: #000000;

  &__container {
    padding-top: 200px;
    padding-bottom: 200px;
    border-bottom: 4px solid #8fff00;
    @media (max-width: 1000px) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    @media (max-width: 500px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    @media (max-width: 500px) {
      font-size: 28px;
    }
  }

  &__text {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__button {
    margin-top: 50px;
    width: 260px;
  }
}

.contact {
  background-color: #000000;

  &__container {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    @media (max-width: 1000px) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__title {
    margin-bottom: 50px;
    color: #8fff00;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    @media (max-width: 1000px) {
      width: 80%;
    }
    @media (max-width: 500px) {
      width: 100%;
      font-size: 28px;
    }
  }

  &__form,
  .form {
    display: flex;
    align-items: flex-end;
    @media (max-width: 1000px) {
      flex-direction: column;
    }

    &__button {
      margin: 0 auto;
      width: 260px;
      @media (max-width: 1000px) {
        margin-top: 50px;
      }
    }

    &__block {
      width: 40%;
      @media (max-width: 1000px) {
        width: 100%;
      }

      &--big {
        width: 60%;
        @media (max-width: 1000px) {
          width: 100%;
        }
      }
    }

    &__input {
      padding: 15px 20px;
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      font-family: 'Roboto Mono', monospace;
      display: block;
      height: 66px;
      background-color: transparent;
      border: 1px solid #fff;
      width: 100%;
      @media (max-width: 500px) {
        font-size: 16px;
      }

      &:active,
      &:focus {
        outline: none;
        border-color: #8fff00;
      }

      &--short {
        width: 70%;
        margin-bottom: 45px;
        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      &--message {
        height: 180px;
      }
    }
  }

  .radar {
    width: 255px;
    position: absolute;
    top: 250px;
    right: 115px;
    @media (max-width: 1000px) {
      width: 230px;
      top: 100px;
      right: 62px;
    }
    @media (max-width: 500px) {
      width: 133px;
      top: 60px;
      right: 31px;
    }

    &__container {
      width: 100%;
      position: relative;
    }

    &__circle,
    &__base,
    &__half {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__circle {
      animation: rotation 2s linear infinite;
    }

    &__half {
      animation: reverse-rotation 10s linear infinite;
    }
  }
}

.footer {
  background-color: #000000;
  padding: 0px 0 70px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  & .logo {
    margin-bottom: 27px;
  }
}

.success {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000d6;
  display: none;
  place-content: center;
  text-align: center;
  z-index: 100000;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-height: 300px;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    padding: 30px 20px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__close {
    cursor: pointer;
    width: 20px;
    top: 15px;
    right: 10px;
    position: absolute;
  }
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2160px);
  }
}

@keyframes carousel {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2783px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse-rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
